'editor':
  'fontSize': 16
  'showIndentGuide': true
  'showInvisibles': true
'core':
  'themes': [
    'atom-dark-ui'
    'base16-tomorrow-dark-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'exception-reporting':
  'userId': '1f04ba9f-ecd3-914e-5512-107ecc8ebd55'
'release-notes':
  'viewedVersion': '0.78.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '596fbe75c35960083124646a3195182a369edaec'
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
