'global':
  'editor':
    'showInvisibles': true
    'autoIndentOnPaste': false
    'normalizeIndentOnPaste': false
    'showIndentGuide': true
    'preferredLineLength': 120
    'fontSize': 13
    'fontFamily': 'Monaco, Droid Sans Mono'
    'invisibles': {}
  'core':
    'disabledPackages': [
      'autosave'
      'archive-view'
      'background-tips'
      'encoding-selector'
      'release-notes'
      'spell-check'
      'update-package-dependencies'
      'autocomplete'
      'linter-php'
      'autoflow'
      'language-clojure'
      'language-go'
      'language-hyperlink'
      'language-java'
      'language-make'
      'language-mustache'
      'language-objective-c'
      'language-perl'
      'language-property-list'
      'language-ruby-on-rails'
      'language-toml'
      'link'
      'open-on-github'
      'styleguide'
      'welcome'
    ]
    'projectHome': '/Users/vslinko/workspace/_atom'
    'themes': [
      'atom-light-ui'
      'solarized-light-syntax'
    ]
  'exception-reporting':
    'userId': '1f04ba9f-ecd3-914e-5512-107ecc8ebd55'
  'release-notes':
    'viewedVersion': '0.90.0'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '596fbe75c35960083124646a3195182a369edaec'
  'markdown-preview':
    'grammars': [
      'source.gfm'
      'source.litcoffee'
      'text.plain'
      'text.plain.null-grammar'
    ]
  'autocomplete-plus':
    'includeCompletionsFromAllBuffers': true
  'linter-less':
    'ieCompatibilityChecks': false
    'strictMath': true
    'strictUnits': true
  'linter-jscs':
    'preset': 'airbnb'
  'fuzzy-finder':
    'ignoredNames': [
      'node_modules'
    ]
  'linter':
    'statusBar': 'None'
    'showErrorInline': true
