packages: [
  'advanced-new-file'
  'autocomplete-modules'
  'autocomplete-paths'
  'block-travel'
  'caniuse'
  'editorconfig'
  'ex-mode'
  'file-icons'
  'git-plus'
  'hex'
  'jumpy'
  'language-cypher'
  'language-gherkin'
  'language-plantuml'
  'linter'
  'linter-eslint'
  'markdown-scroll-sync'
  'merge-conflicts'
  'minimap'
  'minimap-find-and-replace'
  'minimap-git-diff'
  'open-this'
  'package-sync'
  'plantuml'
  'relative-line-numbers'
  'sort-lines'
  'todo-show'
  'vim-mode-next'
  'tomorrow-night-eighties-syntax'
]
