'packages': [
  'autocomplete-paths'
  'autocomplete-plus'
  'caniuse'
  'easy-motion'
  'editorconfig'
  'ex-mode'
  'file-icons'
  'git-plus'
  'hex'
  'language-jsx'
  'language-twig'
  'merge-conflicts'
  'minimap'
  'package-sync'
  'sort-lines'
  'todo-show'
  'vim-mode'
]
