'packages': [
  'atom-csscomb'
  'autocomplete-paths'
  'autocomplete-plus'
  'caniuse'
  'editorconfig'
  'file-icons'
  'language-jade'
  'language-jsx'
  'language-lua'
  'language-twig'
  'linter'
  'linter-csslint'
  'linter-jscs'
  'linter-jsxhint'
  'linter-less'
  'merge-conflicts'
  'minimap'
  'package-sync'
  'raml'
  'sort-lines'
  'tasks'
]
