'.source.js':
  'Logging':
    'prefix': 'l'
    'body': 'console.log(${1:this});$2'
  'Method':
    'prefix': 'm'
    'body': '${1:method}: function($2) {\n\t$3\n},'
  'lAmbda':
    'prefix': 'a'
    'body': 'function($1) {\n\t$2\n}$3'
  'Function':
    'prefix': 'f'
    'body': 'function ${1:name}($2) {\n\t$3\n}$4'

'.source.jsx':
  'Logging':
    'prefix': 'l'
    'body': 'console.log(${1:this});$2'
  'Method':
    'prefix': 'm'
    'body': '${1:method}: function($2) {\n\t$3\n},'
  'lAmbda':
    'prefix': 'a'
    'body': 'function($1) {\n\t$2\n}$3'
  'Function':
    'prefix': 'f'
    'body': 'function ${1:name}($2) {\n\t$3\n}$4'
  'Tag':
    'prefix': 't'
    'body': '<${1:tag}>\n\t$2\n</$1>'
  'Inline Tag':
    'prefix': 'it'
    'body': '<${1:tag} />$2'
